<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <nav class="navbar">
      <ul class="list-group flex-row justify-flex-start">
        <li class="list-item"><a href="/" class="nav-item">Home</a></li>
        <li class="list-item"><a href="/dashboard" class="nav-item">Dashboard</a></li>
        <li class="list-item"><a href="/login" class="nav-item">Login</a></li>
        <li class="list-item"><a href="#" id="logout-link" class="nav-item">Logout</a></li>
      </ul>
    </nav>
    <header class="hero">
      <h1 class="app-title"><a href="/" id="tech-blog-title">The Tech Blog</a></h1>
    </header>

    <main>
      {{{body}}}
    </main>

    <script src="js/logout.js"></script>
  </body>
</html>