{{#if loggedIn}}
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="post-title">
        <a href="/post/{{id}}"><h3>{{title}} {{format_date created_at}}</h3></a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>
{{/if}}

<div class="new-post">
  <button id="new-post">+ New Post</button>
</div>

<script>
  document.querySelector("#new-post").addEventListener("click", function (event) {
  event.preventDefault();
  
  document.location.replace("/dashboard/new");
  });
</script>