{{#if loggedIn}}
<ol class="post-list list-group">
  {{#each posts as |post|}}
  <li class="list-item list-group">
    <article class="post">
      <div class="post-title">
        <a href="/dashboard/edit/{{id}}" class="flex-row justify-space-between">
          <p>{{title}}</p>
          <p>{{format_date created_at}}</p>
        </a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>
{{/if}}

<div class="new-post justify-content-center">
  <button class="btn-back" id="new-post">+ New Post</button>
</div>

<script>
  document.querySelector("#new-post").addEventListener("click", function (event) {
  event.preventDefault();
  
  document.location.replace("/dashboard/new");
  });
</script>