<article class="card">
  <h2 class="card-header">
    Edit Post
  </h2>
  <form class="edit-post-form card-body">
    <div>
      <label for="post-title">Title</label>
      <input name="post-title" id="post-title" type="text" class="form-input" value="{{post.title}}" />
    </div>
    <div>
      <label for="post-content">Content</label>
      <textarea name="post-content" id="post-content" class="form-textarea">{{post.content}}</textarea>
    </div>
    <button type="submit" class="btn">Update Post</button>
    <button type="button" class="btn delete-post-btn">Delete</button>
  </form>
</article>

<script src="/js/edit.js"></script>