<article>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div>
      <input name="post-content" type="text" value="{{post.content}}" />
    </div>
    <button type="submit" class="btn">Update post</button>
    <button type="button" class="btn delete-post-btn">Delete post</button>
  </form>
</article>

<script src="/js/edit.js"></script>