<form class="create-post-form card">
  <div class="create-post-title">
    <h3 class="card-header">Create New Post</h3>
  </div>
  <div class="card-body">
    <label for="post-title">Title</label>
    <input type="text" class="form-input" id="post-title" />

    <label for="post-content">Content</label>
    <textarea class="form-textarea" id="post-content"></textarea>

    <button type="submit" class="btn">Create</button>
  </div>
</form>

<div class="new-post">
  <button id="new-post" class="btn-back justify-center">+ New Post</button>
</div>

<script src="/js/new-post.js"></script>