<form class="create-post-form">
  <div class="create-post-title">
    <h3>Create New Post</h3>
  </div>
  <div>
    <label for="post-title">Title</label>
    <input type="text" id="post-title" />
  </div>
  <div>
    <label for="post-content">Content</label>
    <textarea id="post-content"></textarea>
  </div>
  <div>
    <button type="submit">Create</button>
  </div>
</form>

<div class="new-post">
  <button id="new-post">+ New Post</button>
</div>

<script src="/js/new-post.js"></script>