<form class="signup-form">
  <div class="form-title">
    <h2>Sign Up</h2>
  </div>
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit" class="btn">Sign up!</button>
  </div>
  <div>
    <p class="login-link"><a href="/login">Login instead</a></p>
  </div>
</form>
<script src="/js/signup.js"></script>