<form class="signup-form card">
  <div class="form-title card-header">
    <h2>Sign Up</h2>
  </div>
  <div class="card-body">
    <label for="username-signup">username:</label>
    <input type="text" class="form-input" id="username-signup" />

    <label for="password-signup">password:</label>
    <input type="password" class="form-input" id="password-signup" />

    <button type="submit" class="btn">Sign up!</button>

    <p class="login-link"><a href="/login">Login instead</a></p>
  </div>
</form>
<script src="/js/signup.js"></script>