<article class="post">
  <div class="post-title">
    <h3>{{title}}</h3>
    <p>Posted by {{user.username}} on {{created_at}}</p>
  </div>
  <div class="post-content">
    <p>{{content}}</p>
  </div>
</article>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-text"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
    <button type="button" class="upvote-btn">upvote</button>
  </div>
</form>

<script src="/js/comment.js"></script>
{{/if}}